.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2b2b2b;
  position: relative;
}

.App-title {
  color: white
}

.login-div {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.nav-wrapper {
  position: absolute;
  top: 20px;
  right: 20px;
}

.nav-buttons {
  display: flex;
  justify-content: right;
  gap: 10px;
}
